<!--{{ titulo }} llama una variable de app.component.ts
<br>
{{ 2 + 3 }} se pueden hacer operaciones matematicas-->
<!--<input type="text" [(ngModel)]="titulo">ngModel es como tipo value, viene del modulo FormModule,lo genial
del ngModel es que se puede cambiar el valor de esa variable en este caso title-->
<!--<input type="text" value="{{ titulo }}">equivalente a lo de arriba-->
<!--<fruta></fruta>-->
<router-outlet></router-outlet>
<!--<app-empleados></app-empleados>
<app-empleados></app-empleados>
<app-empleados></app-empleados>
<br>{{ nombre }} <br>
{{ decir }}<br>
<ul *ngFor="let pais of paises">ngFor="let variable of array_que_viene_de_ts"
  <li>{{ pais }}</li>
</ul>
<p *ngIf="im" >mi nombre es:{{ im }}</p>ngif="a > 1" emfemplo
<input type="text" [(ngModel)]="im" >
<br>
<form action="">
  
</form>-->

